*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --main: #E8E7E6;
  --lighter: #f0f0f0;
  --blue: #7B949C;
  --special: #610012;
}

body {
  background-color: var(--main);
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23010101' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 2em;
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  color: var(--special);
}

h3 {
  font-size: 1.3em;
}

p, figcaption, div, label, li {
  font-size: 1em;
}

section, article {
  margin-top: 50px;
}

a:focus {
  outline: 3px dashed black;
}

/* HEADER */

#hero, footer {
  text-align: center;
}

header {
  padding: 10px;
  width: 100%;
  height: 80px;
}

#logo {
  width: 60px;
  height: 60px;
  position: absolute;
}

#logo img {
  position: absolute;
  width: 60px;
  z-index: 12;
}

#main-nav, #mobile-nav {
  font-variant: small-caps;
}

#main-nav {
  display: none;
}

#mobile-nav {
  position: fixed;
  font-size: 2em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100vh);
  justify-content: center;
  background-color:var(--blue);
  z-index: 11;
  transition: transform 300ms cubic-bezier(.06,.72,.57,1);;
}

#nav-links {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  padding: 0;
}

#nav-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: .5em;
  transition-duration: 500ms;
  transition-property: background-color, color, transform;
  transition-timing-function: ease-out;
}

#nav-links li a:hover {
  background-color: var(--special);
  color: white;
  transform: scale(1.1);
}

a.open-nav, a.close-nav {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 60px;
  height: 50px;
  background-color: var(--blue);
  border-radius: .3em;
  z-index: 11;
  transition: background-color 300ms ease-in;
}

a.open-nav:hover, a.close-nav:hover {
  background-color: var(--special);
}

a.close-nav {
  display: none;
}

.toggle {
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 1rem;
  background-color: black;
  margin: 17.5px auto;
  transition: background-color 300ms ease-in;
}

a.open-nav .toggle::before, a.close-nav .toggle::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  width: 30px;
  height: 5px;
  border-radius: 1rem;
  background-color: black;
  transition: background-color 300ms ease-in;
}

a.open-nav:hover .toggle, 
a.close-nav:hover .toggle,
a.open-nav:hover .toggle::before, 
a.close-nav:hover .toggle::before {
  background-color: white;
}

#header:target a.open-nav {
  display: none;
}

#header:target a.close-nav {
  display: block;
}

#header:target a.close-nav .toggle {
  transform: translateY(5px) rotate(45deg);
}

#header:target a.close-nav .toggle::before {
  transform: translateY(-10px) rotate(-90deg);
}

#header:target #mobile-nav {
  display: flex;
  transform: translateY(0);
}

#header:target #logo img {
  position: fixed;
}

/* HERO SECTION */

#hero {
  background-color: #9C938A;
  max-width: 95%;
  height: auto;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: .5em;
  color: var(--special);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541),
  -5px -5px 10px rgba(0, 0, 0, 0.514);
}

#hero img {
  margin: 20px;
  max-width: 100%;
  width: 80%;
  border-radius: .5em;
  border: 10px double black;
}

#hero h1 {
  font-weight:900;
}

#hero h2 {
  color: black;
}

/* BIO SECTION */

#bio {
  text-align: center;
}

#bio .answer {
  background-color: var(--lighter);
  max-width: 600px;
  width: 95%;
  padding: 20px;
  border-radius: .5em;
  margin: 0 auto 3em;
}

/* HOBBIES SECTION */

#hobbies-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: var(--lighter);
  border-radius: .5em;
  margin: auto;
  padding: 10px 0;
  max-width: 1000px;
}

#hobbies h2 {
  margin-bottom: 1em;
}

#hobbies-container div {
  margin: auto;
}

#hobbies-container ul {
  display: flex;
  flex-direction: column;
}

#hobbies li:nth-child(2n) {
  font-weight: 900;
  color: #9C938A;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 4px;
}

#hobbies li:nth-child(2n + 1) {
  color: rgb(3, 3, 3); 
  font-variant: small-caps;
  font-weight: 800;
  text-shadow: 10px 3px 5px #4e2c2c;
}

#hobbies li {
  position: relative;
  font-size: 1.3em;
  list-style: none;
  margin-bottom: 80px;
}

#hobbies li:last-child {
  margin-bottom: 0;
}

audio {
  display: block;
  margin: 10px auto;
  padding: 0;
}

#hobbies li::before {
  content: '';
  display: inline-block;
  position: relative;
  top: .25em;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid var(--blue);
  border-bottom: 10px solid transparent;
  margin-right: .5em;
}

/* PHOTO GALLERY */

#gallery-container {
  width: 95%;
  margin: auto;
  text-align: center;
  border-radius: .5em;
  padding: 5px;
  background-color: var(--lighter);
}

figure {
  margin: 10px;
}

figure img {
  border: 10px double black;
  max-width: 100%;
  border-radius: .5em;
}

figcaption {
  padding: 15px;
  margin: 20px auto;
  border-radius: .5em;
}

hr {
  border: 2px solid var(--blue);
}

/* LIT SECTION */

#lit-container {
  margin: auto;
  max-width: 800px;
  width: 95%;
  background-color: var(--lighter);
  padding: 2rem 2rem;
  border-radius: .5em;
  line-height: 1.5;
}

#lit-container p:first-child:first-letter {
  float: left;
  font-size: 120px;
  padding: 20px;
  margin: 10px;
  background-color: var(--blue);
  border-radius: 50% 40% 60% 50%;
  border: 5px double var(--main);
  font-family: 'Open Sans', sans-serif;
}

/* FORM SECTION */

#form {
  max-width: 800px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

form {
  background-color: var(--blue);
  border-radius: .5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541),
  -5px -5px 10px rgba(0, 0, 0, 0.514);
  padding: 2px;
}

fieldset {
  border-radius: .5em;
  border: 5px double black;
}

legend {
  background-color: var(--lighter);
  color: black;
  border-radius: .5em;
  padding: 10px;
}

#form-elements {
  display: grid;
  row-gap: 15px;
}

#form-elements label {
  position: relative;
}

#form-elements input, 
#form-elements select, 
#form-elements textarea,
#form-elements button {
  font-family: 'Roboto', sans-serif;
  font-size: .95em;
  line-height: 1.1em;
  padding: .7em .5em;
  background: transparent;
  border-radius: .5em;
  border: 2px solid black;
  margin: 0;
}

#form-elements input:focus,
#form-elements select:focus,
#form-elements textarea:focus {
  box-shadow: 0px 0px 5px var(--special);
  border: 2px solid var(--special);
  outline: none;
}

#form-elements button {
  margin: auto;
  background-color: var(--blue);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  font-size: 1.5em;
  width: 60%;
  transition-duration: 300ms;
  transition-property: color, background-color;
}

#form-elements button:hover, #form-elements button:active {
  color: white;
  background-color: var(--special);
  cursor: pointer;
}

#form-elements textarea {
  resize: vertical;
  min-height: 100px;
}

#form ul {
  list-style: none;
  margin-left: 0;
}

#form li {
  margin: 20px;
}

li input {
  opacity: 0;
}

li label::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -2.3em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: var(--lighter);
  border: 3px solid var(--special);
}

label::after {
  content: '';
  opacity: 0;
}

li input:checked + label::after {
  display: inline-block;
  position: absolute;
  left: -1.9em;
  top: 30%;
  width: .7em;
  height: .7em;
  border-radius: 50%;
  background-color: var(--special);
  opacity: 1;
  transition: opacity 500ms ease;
}

li input:checked + label::before {
  border: 4px solid var(--special);
}

select {
  appearance: none;
  padding: 0 1em 0 0;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.select {
  display: grid;
  position: relative;
  grid-template-areas: 'select';
  align-items: center;
  border-radius: 0.5em;
  cursor: pointer;
}

select,
.select::after {
  grid-area: select;
}

.select::after {
  content: "";
  justify-self: end;
  margin-right: .4em;
  width: 0.8em;
  height: 0.5em;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* MUSIC SECTION 

#directions {
  margin: auto;
  text-align: center;
}

#music {
  background-color: #CD78EB;
  font-size: 16px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  padding: 10px;
  border-radius: .5em;
}


.mi {
  align-self: flex-start;
}

.fa, .se, .sol, .si, .la, .li, .ti, .fi, .le, #mi, #do {
  align-self: end;
}

.do {
  align-self: center;
}

.ra {
  align-self: flex-start;
}

.a-section, .b-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  min-height: 300px;
  width: 100%;
  margin: 100px auto;
  gap: 2px;
  padding: 5px;
  border-radius: .5em;
}

.a-section {
  background-colmain;
}

.b-section {
  background-color:#d1f08e; 
}

.a-section span, .b-section span {
  border-bottom: 40px solid transparent;
}

*/

/* VIDEO SECTION */

#video-container {
  position: relative;
  padding-bottom: 80%;
  padding-top: 25px;
  height: 0px;
}

#myVideo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#video figcaption {
  text-align: center;
  background-color: var(--main);
  width: 95%;
}

#back-to-top {
  display: none;
}

/* FOOTER SECTION */

footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-size: .8em;
}

footer a {
  color: black;
}

/*MEDIA QUERIES */

@media screen and (min-width: 60em) {
  
  section, article {
    margin-top: 120px;
  }

  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.8em;
    color: var(--special);
  }
  
  h3 {
    font-size: 1.3em;
  }
  
  p, figcaption, div, label, li {
    font-size: 1em;
  }

  #back-to-top {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    z-index: 10;
    border-radius: 100%;
    padding: 5px 5px 0px;
  }

  #back-to-top img {
    transition-duration: 300ms;
    transition-property: background-color;
    border-radius: 50%;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    70% {
      transform: translateY(-7px);
    }

    100% {
      transform: translateY(0px);
    }
  }
  
  #back-to-top img:hover, #back-to-top img:active {
    background-color: var(--blue);
    animation-name: bounce;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
  }

  #hero {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 1000px;
    width: 90%;
  }

  #hero img {
    max-width: 400px;
  }

  #hero div {
    margin: auto;
  }

  fieldset {
    margin: 1em;
  }

  #form-elements {
    margin: 1em;
  }

  #mobile-nav, a.open-nav, a.close-nav {
    display: none;
  }

  #main-nav {
    display: block;
    font-size: 1em;
    position: absolute;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    top: 1em;
    right: 0;
    width: fit-content;
    padding: 0 2em;
    background-color:var(--blue);
  }

  #nav-links {
    flex-direction: row;
    width: auto;
    height: 3em;
    align-items: center;
    gap: 2em;
  }

  figure {
    margin: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 0;
  }

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 3rem;
  }

  #lit-container {
    max-width: 100%;
    columns: 25rem;
  }

  /* .a-section, .b-section {
    min-height: 200px;
    font-size: 23px;
    background-color: initial;
  } */

  #hobbies-container ul {
    padding: 20px 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20%;
  }

  #hobbies-container div, audio {
    margin-right: 2em;
  }

}

@media screen and (min-width: 100em) {

  #gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  hr {
    display: none;
  }

  figure {
    display: block;
  }

  figcaption {
    margin: 2rem auto 0 auto;
    max-width: 500px;
  }

  #bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #bio h2 {
    grid-column: 1/3;
  }

  #video-container {
    width: 50%;
    padding-bottom: 40%;
    margin: auto;
  }
}