body {
  font-family: 'Lato', sans-serif;
  background-color: #85419E;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 70px;
  margin: 30px;
  color: white;
  text-align: center;
}

h2 {
  margin: 100px 30px;
}

/* HEADER */

header, #hero, footer {
  text-align: center;
}

header {
  position: relative;
  padding-top: 10px;
  background-color: #85419ec7;
  width: 100%;
}

/* HERO SECTION */

#hero {
  background-color: #CD78EB;
  width: 60%;
  padding: 20px;
  margin: 10px auto;
  font-weight: bolder;
  color: black;
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 
    inset 7px 7px 10px rgba(0, 0, 0, 0.3),
    inset -5px -5px 10px rgba(0, 0, 0, 0.3),
    3px 3px 20px rgba(255, 255, 255, 0.3),
    -7px -7px 20px rgba(0, 0, 0, 0.3)
}

#hero img{
  width: 500px;
}

/* BIO SECTION */

#bio {
  margin-top: 300px;
  text-align: center;
}

#bio .subject {
  margin-top: 100px;
  font-size: 33px;
  font-variant: small-caps;
  color: black;
}

#bio .answer, #directions {
  background-color: #7C9E31;
  width: 45%;
  padding: 20px;
  width: fit-content;
  border-radius: 1rem;
  margin: auto;
}

/* HOBBIES SECTION */

#hobbies {
  margin-top: 300px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li:nth-child(2n) {
  font-weight: 900;
  color: rgb(167, 255, 255);
  font-size: 30px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 4px;
}

li:nth-child(2n + 1) {
  color: rgb(255, 183, 149); 
  font-variant: small-caps;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 50px 18px #d1f08e;
}

li {
  text-align: left;
  position: relative;
  list-style: none;
  font-size: 25px;
  margin-bottom: 80px;
  width: 390px;
}

li::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #7C9E31;
  margin-right: 70px;
}

li::after {
  content: '';
  position: absolute;
  left: 40px;
  bottom: -4px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid #7C9E31;
  border-bottom: 20px solid transparent;
}

/* PHOTO GALLERY */

#gallery {
  margin-top: 300px;
}

/* MUSIC SECTION */

#tune {
  margin: 200px 0;
  text-align: right;
  color: black;
}

#directions {
  margin-left: auto;
  margin-right: 200px;
  text-align: center;
}

#music {
  width: 85%;
  height: auto;
  margin: 50px auto;
  background-color:#d1f08e;
  padding: 20px;
  border: 20px groove black;
}


.mi {
  align-self: flex-start;
}

.fa, .se, .sol, .si, .la, .li, .ti, .fi, .le, #mi, #do {
  align-self: end;
}

.do {
  align-self: center;
}

.ra {
  align-self: flex-start;
}

.a-section, .b-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100px;
  margin: 100px;
}

/* FOOTER SECTION */

footer {
  padding: 30px;
}